<br />
<div class="container">
    <div class="text-center text-capitalize">
        <h2 class="container">Help & Contact</h2>
    </div>
    <div class="text-center">
        <p class="text-justify">
            At Together Stream we take our members experience as our first priority there
            are multiple help and support options that you can choose to reach us.

        </p>

    </div>
    <div class="text-center">
        <h2>Login and Servicese Support</h2>
        <p>Your login does not work?Your options!</p>

    </div>
    <div class="text-center">
        <p> Chat with us 24X7</p>
        <p class="text-capitalize">
            <img src="~/icon/what.png" width="25" height="25" />
            <a href="#">
                <span>whatsapp</span>
            </a>
        </p>
        <h2>Email US at</h2>
        <p>
            <img src="~/icon/iconfinder_logo_brand_brands_logos_gmail_2993691.png" width="25" height="25" />
            <a href="#">
                <span>Demo@email.com</span>
            </a>
        </p>
    </div>
    <div class="text-center">
        <h2>
            REPORT/FEEDBACK
        </h2>
        <h2>
            Report a problem or give a feedback message below

        </h2>
    </div>
    <div class="container">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" id="inputname" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
            </div>
        </form>
    </div>
</div>
<br />