<br />
<br />
<div class="container">
    <div class="text-center">
        <h2>
            YOUR SUBSCRIPTIONS
        </h2>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <span style="font-size: 13px; text-align: left;">Slot Id : <b>1088</b></span>
                        <span style="color :grey; font-size: 13px; margin-left: 50px;">Valid From : <b>21/03/21</b></span>
                    </div>
                    <br/>
                    <div>
                        <span style="color :grey; font-size: 13px; text-align: right;">Status : <b>Expired</b></span>
                        <span style="font-size: 13px; margin-left: 50px;">Expires On : <b>18/04/21</b></span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-success">View Card </button>
                    </div>
                    <br/>
                    <div class="text-center">
                        <p>Anyone trying to change the login card password will be blocked and outcasted from account without refund.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <span style="font-size: 13px; text-align: left;">Slot Id : <b>1088</b></span>
                        <span style="color :grey; font-size: 13px; margin-left: 50px;">Valid From : <b>21/03/21</b></span>
                    </div>
                    <br/>
                    <div>
                        <span style="color :grey; font-size: 13px; text-align: right;">Status : <b>Expired</b></span>
                        <span style="font-size: 13px; margin-left: 50px;">Expires On : <b>18/04/21</b></span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-success">View card</button>
                    </div>
                    <br/>
                    <div class="text-center">
                        <p>Anyone trying to change the login card password will be blocked and outcasted from account without refund.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


